/* card sizes: mini 600x825px, normal 825x1125px */

#gameArea{
	width: 1500px;
	height: 1000px;
	background-color: rgb(123,0,95);
	padding: 5px;
	border-style: solid;
	border-width: 2px;
}

#hireCards{
	width: 800px;
	height: 350px;
	background-color: ivory;
	border-style: dashed;
	border-width: 2px;
	overflow: auto;
}

#hireCardSlots{
	display: flex;
	flex-flow: row-reverse wrap;
}

/* CARD DISPLAY FORMATTING */
#cardDisplay{
	float: right;
	height: 550px;
	width: 400px;
	background-color: black;
	position: relative;
	top: -350px;
	right: 10%;
}
.displayCardInfo{
	background-color: white;
	position: absolute;
	font-size: x-large;
}
#displayCardName{
	height: 25px;
	width: 55%;
	top: 3.5%;
	left: 6.25%;
	text-align: left;
	vertical-align: center;
}
#displayCardCost{
	height: 25px;
	width: 30%;
	top: 3.5%;
	right: 6.25%;
	text-align: right;
	vertical-align: center;
}
#displayCardImageContainer{
	height: 45%;
	width: 87.5%;
	top: 10%;
	left: 6.25%;
}
#displayCardAbility{
	height: 25%;
	width: 87.5%;
	top: 57%;
	left: 6.25%;
	text-align: center;
	vertical-align: center;
}
#displayCardLabor{
	height: 35px;
	width: 42%;
	top: 85%;
	left: 6.25%;
	text-align: left;
	vertical-align: center;
}
#displayCardPerf{
	height: 35px;
	width: 42%;
	top: 85%;
	right: 6.25%;
	text-align: right;
	vertical-align: center;
}
/* CARD DISPLAY FORMATTING */

#activePlayer{
	width: 800px;
	height: 400px;
	background-color: lightgrey;
	border-style: dashed;
	border-width: 2px;
}

.playerDisplay{
	display: flex;
	justify-content: center;
}
/* ACTIVE PLAYER DISPLAY FORMATTING */
.activeOnDeckDisplay{
	height: 100px;
	width: 100px;
	overflow: hidden;
	position: relative;
}

.activeOnDeckInjure:hover{
	box-shadow: inset 25px 25px 25px rgb(255, 0, 0), inset -25px -25px 25px rgb(255, 0, 0);
	color:rgb(255, 117, 117);
}

.activeOnDeckImg{
	height: 100%;
	width: 100%;
	background-color: #fff;
}

.activeLaborDisplay{
	height: 100px;
	width: 100px;
	overflow: hidden;
	position: relative;
}

.activeLaborImg{
	height: 100%;
	width: 100%;
	background-color: #fff;
}

.activeHandDisplay{
	height: 100px;
	width: 100px;
	overflow: hidden;
	position: relative;
}

.activeHandImg{
	height: 100%;
	width: 100%;
	background-color: #fff;
}
/* ACTIVE PLAYER DISPLAY FORMATTING */

/* MINI CARD DISPLAY FORMATTING */
.miniDisplayName{
	margin: 0px;
	background-color: rgba(256, 256, 256, 70%);
	position: absolute;
	top: 2px;
	left: 2px;

	color: rgb(0, 0, 0);
	font-size: 20px;
	text-align: left;
}

.miniDisplayCost{
	margin: 0px;
	height: 20px;
	width: 20px;
	background-color: rgb(226, 156, 12);
	position: absolute;
	top: 2px;
	right: 2px;

	color: rgb(0, 0, 0);
	font-size: 20px;
	text-align: center;
}

.miniDisplayPerf{
	margin: 0px;
	height: 20px;
	width: 20px;
	background-color: rgb(94, 3, 0);
	position: absolute;
	bottom: 2px;
	right: 2px;

	color: #fff;
	font-size: 20px;
	text-align: center;
}

.miniDisplayLabor{
	margin: 0px;
	height: 20px;
	width: 20px;
	background-color: rgb(226, 156, 12);
	position: absolute;
	bottom: 2px;
	left: 2px;

	color: rgb(0, 0, 0);
	font-size: 20px;
	text-align: center;
}
/* MINI CARD DISPLAY FORMATTING */

.activeHandPlayPhase{

	box-shadow: inset 5px 5px 5px rgb(233, 236, 37), inset -5px -5px 5px rgb(233, 236, 37);

}

.activeHandPlayPhase:hover{

	box-shadow: inset 5px 5px 5px rgb(8, 212, 69), inset -5px -5px 5px rgb(8, 212, 69);

}

.laborAreaAllowedToPlay{

	box-shadow: inset 10px 10px 10px rgb(233, 236, 37), inset -10px -10px 10px rgb(233, 236, 37);

}

.laborAreaAllowedToPlay:hover{

	box-shadow: inset 5px 5px 5px rgb(8, 212, 69), inset -5px -5px 5px rgb(8, 212, 69);

}

.onDeckAreaAllowedToPlay{

	box-shadow: inset 10px 10px 10px rgb(94, 3, 0), inset -10px -10px 10px rgb(94, 3, 0);

}

.onDeckAreaAllowedToPlay:hover{

	box-shadow: inset 5px 5px 5px rgb(8, 212, 69), inset -5px -5px 5px rgb(8, 212, 69);

}

#activePlayerTable{
	width: 95%;
	height: 95%;
	position: relative;
	left: 2.5%;
}

th{
	border: 1px solid black;
	height: 25px;
}

.pTableTd{
	border: 1px solid black;
	height: 100px;
	width: 80%;
}

.pTableTd:hover{
	box-shadow: inset 5px 5px 5px #fff, inset -5px -5px 5px #fff;
}

.imgSample{
	width: 100px;
	height: 100px;
	border: 1px solid black;
}
.hireTd{
	width: 19%;
	height: 50%;
	border: 1px solid black;
	position: relative;
}
.hireImg{
	width: 100%;
	height: 100%;
}

/*.cardFull{
	width: 825px;
	height: 1125px;
	background-color: black;
	margin: 0px;
	padding: 0px
}*/